 #mybody{ font-size: 12px;
     	font-family: '宋体'
  		color:#522a06;
   		padding:0px;
    	margin:0px;
     	}
.nav_content{width:800px;}
.nav_content ul{list-style-type: none;}     
.nav_content ul li {text-align: center;
					float:left;}
.nav_content ul li a{color:white;
					text-decoration: none;
					height:40px;}
			
.banner1{width: 1265px;
		height:200px;
    	}
.nav{height: 40px;
	background-image: url(../images/nav.jpg);}
.center1{float:left;
		margin-top: 10PX;}
.center2{float:left;
		margin-left: 10px;
		margin-top: 10PX;}
.center3{float:left;
		margin-left: 10px;
		margin-top: 10PX;}
.web21{width:350px;
		height:60px;}
.web20{width:520px;
		height:60px;}
.web22{width:350px;
		height:60px;}
.wenzi{font-size: 26px;}
.baoming{font-size: 16px;}
#footer{
		padding-top:10px;
		height:105px;
		clear:both;
		background:url(../images/foot.gif);
		text-align: center;}

.youqinglianjie{
		margin-left:60px;
		padding-top:10px;}