.image{float:left;}
.fu{
	width:250px;
	height:200px;
	}
a{
	opacity:0.5;
}
.desc{
	width:250px;
	height:20px;
text-align: center;}
a:hover{opacity:1;}
div.image img{display:inline;
			margin:3px;
			border:1px solid #bebebe;
			width:230px;
			height:190px;}
div.image a:hover img
{border:1px solid #333333;}